{% extends 'base.html' %} {% load static %} {% block content %}

<!-- HERO SECTION -->

<section class="hero">
  

  <div class="hero-image">

    <img src="{% static 'images/home.jpg' %}">

</div>

  <!-- OVERLAY -->

  <div class="hero-overlay"></div>

  <!-- CONTENT -->

  <div class="hero-content">
    <h1 class="hero-p">Advanced Multi-Speciality</h1><h1> Care You Can Trust</h1>

    <p>
      30+ Specialities | 250+ Expert Doctors | NABH Accredited | 24×7 Emergency
      Care
    </p>

    <div class="hero-buttons">
      <a href="/book-appointment/" class="hero-btn"> Book Appointment </a>

      <a href="#contact" class="hero-btn secondary-btn"> Emergency: 108 </a>
    </div>
  </div>
</section>

<!-- EMERGENCY SECTION -->
<section class="emergency-section">
  <div class="container">
    <!-- Heading Upar Bich Me -->
    <div class="section-title-light">
      <h2>24×7 Emergency Services</h2>
      <p>Immediate medical attention when every second counts</p>
    </div>

    <!-- Emergency Cards -->
    <div class="emergency-strip">
      <div class="emergency-card">
        <span class="emoji">❤️</span>
        <h3>Heart Emergency</h3>
      </div>

      <div class="emergency-card">
        <span class="emoji">🚑</span>
        <h3>Trauma & Accident</h3>
      </div>

      <div class="emergency-card">
        <span class="emoji">🧠</span>
        <h3>Stroke Unit</h3>
      </div>

      <div class="emergency-card">
        <span class="emoji">🚨</span>
        <h3>Ambulance 24×7</h3>
      </div>
    </div>
  </div>
</section>

<!-- STATS -->

<section class="stats">
  <div class="container">
    <!-- Heading Upar Bich Me -->
    <div class="section-title">
      <h2>Trusted by Thousands of Patients</h2>
      <p>Providing expert care for over 30 years</p>
    </div>

    <!-- 4 Stats Box Neeche -->
    <div class="stats-grid">
      <div class="stat-box">
        <h2>30+</h2>
        <p>Years Experience</p>
      </div>

      <div class="stat-box">
        <h2>250+</h2>
        <p>Expert Doctors</p>
      </div>

      <div class="stat-box">
        <h2>450+</h2>
        <p>Hospital Beds</p>
      </div>

      <div class="stat-box">
        <h2>24×7</h2>
        <p>Emergency Care</p>
      </div>
    </div>
  </div>
</section>


<!-- ABOUT SECTION -->

<!-- ABOUT SECTION -->

<section class="about-section" id="about">

    <div class="about-container">


        <!-- IMAGE -->

        <div class="about-image">

            <img src="{% static 'images/hospital.jpg' %}">

        </div>



        <!-- TEXT -->

        <div class="about-text">

            <h2>

                About Medicare Hospital

            </h2>

            <p>

                Medicare Hospital is a trusted
                multi-speciality healthcare center
                providing advanced treatment with
                expert doctors and modern technology.

                We are committed to compassionate,
                affordable, and quality healthcare
                services for every patient.

            </p>


            <a href="#contact"
            class="about-btn">

                Contact Us

            </a>

        </div>

    </div>

</section>

<!-- SERVICES -->

<section class="services" id="services">
  <h2>Centers of Excellence</h2>

  <div class="service-container">
    <div class="service-card">
      <h3>Cardiology</h3>

      <p>Advanced heart treatment with modern Cath Labs.</p>
    </div>

    <div class="service-card">
      <h3>Neurology</h3>

      <p>Brain & Spine care by expert specialists.</p>
    </div>

    <div class="service-card">
      <h3>Orthopedic</h3>

      <p>Joint replacement & bone treatment.</p>
    </div>

    <div class="service-card">
      <h3>Pediatrics</h3>

      <p>Child care with advanced NICU support.</p>
    </div>

    <div class="service-card">
      <h3>Oncology</h3>

      <p>Cancer treatment with advanced technology.</p>
    </div>

    <div class="service-card">
      <h3>Gastro Care</h3>

      <p>Liver & digestive treatment experts.</p>
    </div>
  </div>
</section>
<!-- DEPARTMENTS SECTION -->
<section class="departments-section">
  <div class="section-title">
    <h2>Our Departments</h2>
    <p>Expert care across multiple specialities</p>
  </div>

  <div class="department-container">
    <div class="department-card">
      <div class="dept-icon">❤️</div>
      <h3>Cardiology</h3>
      <p>Advanced heart treatment with modern Cath Labs.</p>
    </div>

    <div class="department-card">
      <div class="dept-icon">🧠</div>
      <h3>Neurology</h3>
      <p>Brain & Spine care by expert specialists.</p>
    </div>

    <div class="department-card">
      <div class="dept-icon">🦴</div>
      <h3>Orthopedic</h3>
      <p>Joint replacement & bone treatment.</p>
    </div>

    <div class="department-card">
      <div class="dept-icon">👶</div>
      <h3>Pediatrics</h3>
      <p>Child care with advanced NICU support.</p>
    </div>

    <div class="department-card">
      <div class="dept-icon">🎗️</div>
      <h3>Oncology</h3>
      <p>Cancer treatment with advanced technology.</p>
    </div>

    <div class="department-card">
      <div class="dept-icon">🩺</div>
      <h3>Gastro Care</h3>
      <p>Liver & digestive treatment experts.</p>
    </div>

    <div class="department-card">

    <div class="dept-icon">

        👶

    </div>

    <h3>

        Pediatrician

    </h3>

    <p>

        Child specialist for baby and kids treatment.

    </p>

</div>



<div class="department-card">

    <div class="dept-icon">

        🩺

    </div>

    <h3>

        Neurology

    </h3>

    <p>

        Brain and nervous system specialist department.

    </p>

</div>
  </div>
</section>

<!-- DOCTORS SECTION -->

<section class="doctors-section" id="doctors">
  <div class="section-title">
    <h2>Our Expert Doctors</h2>

    <p>Meet our experienced specialists</p>
  </div>

  <div class="doctor-container">
    <!-- CARD 1 -->

    <div class="doctor-card">
      <img src="{% static 'images/raj.jpg' %}" />

      <h3>Dr. Raj Sharma</h3>

      <span>Cardiologist</span>
      <div class="doctor-social">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>

        <a href="#"><i class="fa-brands fa-instagram"></i></a>

        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>

    <!-- CARD 2 -->

    <div class="doctor-card">
      <img src="{% static 'images/neha.jpg' %}" />

      <h3>Dr. Neha Singh</h3>

      <span>Neurologist</span>
      <div class="doctor-social">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>

        <a href="#"><i class="fa-brands fa-instagram"></i></a>

        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>

    <!-- CARD 3 -->

    <div class="doctor-card">
      <img src="{% static 'images/amit.jpg' %}" />

      <h3>Dr. Amit Verma</h3>

      <span>Orthopedic</span>

      <div class="doctor-social">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>

        <a href="#"><i class="fa-brands fa-instagram"></i></a>

        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>

    <!-- CARD 4 -->

    <div class="doctor-card">
      <img src="{% static 'images/priya.jpg' %}" />

      <h3>Dr. Priya Kapoor</h3>

      <span>Pediatrician</span>

      <div class="doctor-social">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>

        <a href="#"><i class="fa-brands fa-instagram"></i></a>

        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

  <!-- BUTTON -->

  <div class="view-all-btn">
    <a href="/all-doctors/"> View All Doctors </a>
  </div>
</section>

<!-- TESTIMONIALS -->

<section class="testimonials">
  <div class="section-title">
    <h2>What Our Patients Say</h2>

    <p>Trusted by thousands of happy patients</p>
  </div>

  <div class="testimonial-container">
    <!-- CARD 1 -->

    <div class="testimonial-card">
      <img src="{% static 'images/ajayyyy.jpg' %}" alt="Patient" />

      <p>
        Excellent doctors and very supportive staff. Emergency service was very
        fast.
      </p>

      <h3>ajay yadav</h3>
    </div>

    <!-- CARD 2 -->

    <div class="testimonial-card">
      <img src="{% static 'images/priyaaa.jpg' %}" alt="Patient" />

      <p>Very clean hospital with advanced technology and caring doctors.</p>

      <h3>Priya Verma</h3>
    </div>

    <!-- CARD 3 -->

    <div class="testimonial-card">
      <img src="{% static 'images/amit si.jpg' %}" alt="Patient" />

      <p>Best multi-speciality hospital. Highly recommended for treatment.</p>

      <h3>Amit Singh</h3>
    </div>
  </div>
</section>

<!-- APPOINTMENT SECTION -->

<!-- APPOINTMENT SECTION -->

<!-- APPOINTMENT SECTION -->

<section class="appointment-section" id="appointment">

    <div class="appointment-title">

        <h2>Book Appointment</h2>

        <p>

            Schedule your visit with our expert doctors and get quality care.

        </p>

    </div>


    <form class="appointment-form">

        <input type="text"
        placeholder="Enter Name">


        <input type="email"
        placeholder="Enter Email">


        <select>

            <option>Select Doctor</option>

            <option>Cardiologist</option>

            <option>Neurologist</option>

            <option>Orthopedic</option>

        </select>


        <input type="date">


        <button type="submit">

            Book Appointment

        </button>

    </form>


    </div>

</section>

<!-- Why choose us -->
 <!-- WHY CHOOSE US -->

<section class="why-choose">

    <div class="section-title">

        <h2>Why Choose Medicare Hospital</h2>

        <p>
            Trusted healthcare with modern technology
            and experienced specialists.
        </p>

    </div>


    <div class="why-container">


        <!-- CARD 1 -->

        <div class="why-card">

            <div class="why-icon">🏥</div>

            <h3>Advanced Infrastructure</h3>

            <p>

                Modern operation theatres,
                ICU and smart healthcare systems.

            </p>

        </div>


        <!-- CARD 2 -->

        <div class="why-card">

            <div class="why-icon">👨‍⚕️</div>

            <h3>Expert Doctors</h3>

            <p>

                Highly experienced specialists
                across multiple departments.

            </p>

        </div>


        <!-- CARD 3 -->

        <div class="why-card">

            <div class="why-icon">🚑</div>

            <h3>24×7 Emergency</h3>

            <p>

                Emergency and ambulance support
                available round the clock.

            </p>

        </div>


        <!-- CARD 4 -->

        <div class="why-card">

            <div class="why-icon">💊</div>

            <h3>Affordable Treatment</h3>

            <p>

                Best treatment facilities
                at affordable cost.

            </p>

        </div>

    </div>

</section>



<!-- HEALTH PACKAGES -->

<section class="packages-section">

    <div class="section-title">

        <h2>Health Checkup Packages</h2>

        <p>

            Choose affordable health packages
            for complete body checkups.

        </p>

    </div>


    <div class="package-container">


        <!-- CARD 1 -->

        <div class="package-card">

            <h3>Basic Health</h3>

            <h1>₹1999</h1>

            <p>45 Tests Included</p>

            <ul>

                <li>Blood Test</li>

                <li>Diabetes Check</li>

                <li>ECG</li>

                <li>Doctor Consultation</li>

            </ul>

            <a href="#">Book Now</a>

        </div>


        <!-- CARD 2 -->

        <div class="package-card active-package">

            <h3>Executive Package</h3>

            <h1>₹3999</h1>

            <p>75 Tests Included</p>

            <ul>

                <li>Full Body Checkup</li>

                <li>Heart Screening</li>

                <li>Liver Test</li>

                <li>Specialist Consultation</li>

            </ul>

            <a href="#">Book Now</a>

        </div>


        <!-- CARD 3 -->

        <div class="package-card">

            <h3>Senior Citizen</h3>

            <h1>₹2999</h1>

            <p>60 Tests Included</p>

            <ul>

                <li>Bone Density</li>

                <li>Vitamin Check</li>

                <li>Blood Pressure</li>

                <li>Doctor Advice</li>

            </ul>

            <a href="#">Book Now</a>

        </div>

    </div>

</section>


<!-- CONTACT SECTION -->

<!-- CONTACT SECTION -->

<section class="contact-section" id="contact">

    <!-- TITLE -->

    <div class="contact-title">

        <h2>

            Contact Us

        </h2>

        <p>

            Get in touch with Medicare Hospital

        </p>

    </div>



    <div class="contact-container">


        <!-- LEFT -->

        <div class="contact-info">

            <div class="contact-box">

                <h3>

                    📍 Address

                </h3>

                <p>

                    Gomti Nagar, Lucknow,
                    Uttar Pradesh, India

                </p>

            </div>



            <div class="contact-box">

                <h3>

                    📞 Emergency

                </h3>

                <p>

                    +91 9876543210

                </p>

            </div>



            <div class="contact-box">

                <h3>

                    ✉ Email

                </h3>

                <p>

                    medicore@gmail.com

                </p>

            </div>

        </div>



        <!-- MAP -->

        <div class="contact-map">

            <iframe
            src="https://www.google.com/maps?q=Gomti%20Nagar%20Lucknow&output=embed"
            loading="lazy">
            </iframe>

        </div>

    </div>

</section>

{% endblock %}
