{% load static %}

<!doctype html>

<html>
  <head>
    <title>Reset Password</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <section class="auth-section">
      <div class="auth-form">
        <h2>Reset Password</h2>

        <!-- OTP SHOW -->

        <div class="otp-message">Your OTP is: {{ otp }}</div>

        <!-- MESSAGE -->

        <!-- {% if messages %}

            {% for message in messages %}

                <div class="otp-message">

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %} -->

        <!-- RESET FORM -->

        <form method="POST">
          {% csrf_token %}

          <input type="text" name="otp" placeholder="Enter OTP" required />

          <input
            type="password"
            name="password"
            placeholder="New Password"
            required
          />

          <button type="submit">Change Password</button>
        </form>

        <!-- BACK BUTTON -->

        <div class="auth-buttons">
          <a href="/login/" class="back-btn"> ← Back To Login </a>
        </div>
      </div>
    </section>
    {% if messages %} {% for message in messages %}

    <script>
      alert("{{ message }}");
    </script>

    {% endfor %} {% endif %}
  </body>
</html>
